@import "~bootstrap/scss/bootstrap";

.validResult {
    margin-top: 10px;
    display: block;
    min-height: 40px;
}
.bg-color-gray {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    max-width: 100%;
}
