@import "~bootstrap/scss/bootstrap";

.result {
    margin-top: 10px;
    display: block;
    min-height: 40px;
}
#bg-color-gray {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    max-width: 100%;
}
.bold-text {
    font-weight: 700;
}
.btn-primary:hover {
    background: #1d49aa;
}
.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
.btn-lg {
    font-size: calc(0.45rem + 0.45vw);
    max-height: 40px;
    max-width: 100px;
}
a {
    z-index: 2;
}
