@import "~bootstrap/scss/bootstrap";

.result {
    margin-top: 10px;
    display: block;
    min-height: 40px;
}
#bg-color-gray {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    max-width: 100%;
}
.bold-text {
    font-weight: 700;
}
.btn-primary:hover {
    background: #1d49aa;
}
.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
.btn-lg {
    font-size: calc(0.45rem + 0.45vw);
    max-height: 40px;
    max-width: 100px;
}
a {
    z-index: 2;
}
.personal {
    margin-left: auto;
    max-width: 100px;
    text-align: center;
    align-self: center;
    font-size: calc(0.45rem + 0.45vw);
}

@media screen and (max-width: 600px) {
    .personal { padding: 0.25rem; }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    cursor: pointer;
}
